{% extends 'newb/base.html' %}

        {% block content %}

                
                    <div class="post">
                    {% if post.publishe_date %}
                        <div class="date">
                            {{ post.publishe_date }}
                        </div>
                    {% endif %}    
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                     <p>{{ post.text|linebreaksbr }}</p>
                    </div>
          

        {% endblock %}        


